/* Estilos para las pestañas */
.tabs {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}
.tab {
  padding: 10px 20px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}
.tab.active {
  background-color: #fff;
  font-weight: bold;
}

/* Estilos para el contenido de las pestañas */
.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  display: none;
}
.tab-content.active {
  display: block;
}